<% @body_id = 'signup' %>
<%#= render partial: 'spree/shared/error_messages', locals: { target: @vendor } #%>
<%#= render partial: 'spree/shared/error_messages', locals: { target: @user } #%>
<%#= render partial: 'spree/shared/error_messages', locals: { target: @stock_location } #%>

<div class="container d-flex justify-content-center mb-5">
  <div class="col-md-6">
    <div class="panel panel-default">
      <h3 class="spree-mb-large spree-mt-large spree-header">
        <%=I18n.t('storefront.buttons.request_vendor_account')%>
      </h3>
      <div id="new-vendor" class="panel-body" data-hook="login">
        <%= form_with model: [:spree, @vendor], scope: :spree_vendor, url: spree.vendors_path, method: :post, local: true, html: {multipart: true} do |f| %>

        <div data-hook="signup_inside_form">
          
            <div class="field" id="spree_vendor_image_field">
              <div class="form-group mb-4">
                <p class="form-group checkout-content-inner-field">
                  <label for="spree_vendor_image">Logo*</label>
                  <!-- <input type="file" name="spree_vendor[image]" id="spree_vendor_image"
                    value=<%=params.include?(:spree_vendor) ? params[:spree_vendor][:image] : '' %>> -->
                    <% if params[:uploaded_file].present? %>  
                      <%= text_area_tag(:uploaded_file, StringIO.new(CGI.escape(params[:uploaded_file])), style: 'display: none;') %>
                      <%= hidden_field_tag :uploaded_file_headers, params[:uploaded_file_headers] %>
                      <%= hidden_field_tag :uploaded_file_content_type, params[:uploaded_file_content_type] %>
                      <%= hidden_field_tag :uploaded_file_original_filename, params[:uploaded_file_original_filename] %>
                      <%= f.file_field :image, title: ' ', hide_label: true, style: "color:transparent; width:80px;" %>
                      <%#= f.hidden_field :image, value: f.object.image.attachment.signed_id if @vendor.image.attachment.attached? #%>
                      <%#= f.file_field :image, title: ' ', value: '', hide_label: true #%>
                      <%#= Rails.application.routes.url_helpers.rails_blob_path(@vendor.image, disposition: 'attachment') #%>
                    <% else %>
                      <%#= f.hidden_field :image, value: f.object.image.attachment.signed_id if @vendor.image.attachment.attached? #%>
                      <%= f.file_field :image, required: true, title: "&nbsp;", value: '', hide_label: true %>
                     
                      <%#= f.file_field :image, required: true, hide_label: true, value: params[:spree_vendor] && params[:spree_vendor][:image] ? params[:spree_vendor][:image] : '' #%>
                    <% end %>
                </p>
              </div>
            </div>
            
            <hr>

            <h4 class="my-4">Stock Location</h4>

            <fieldset>
              <div>
                <%= f.fields_for :stock_location, @vendor.stock_locations do |f_stock| %>
                <div class="form-group" data-hook="stock_location_status">
                  <p class="spree-flat-label">Status</p>

                  <div class="spree-checkbox-container mb-3" data-hook="stock_location_active">
                    <div class="spree-checkbox">
                      <!-- <input name="spree_vendor[stock_location][active]" type="hidden" value="0">
                      <input type="checkbox" value="1" checked='' name="spree_vendor[stock_location][active]" id="spree_vendor_stock_location_active">
                      <label for="spree_vendor_stock_location_active">Active</label> -->
                      <%= f_stock.check_box :active, checked: params[:spree_vendor] && params[:spree_vendor][:stock_location] && params[:spree_vendor][:stock_location][:active] ? params[:spree_vendor][:stock_location][:active].to_i > 0 ? true : false : true %>
                      <%= f_stock.label :active, 'Active' %>
                    </div>
                    <%= f_stock.label :active, 'Active', class: 'spree-checkbox-label text-secondary w-100' %>
                    <!-- <label class="spree-checkbox-label text-secondary w-100" for="spree_vendor_stock_location_active">Active</label> -->
                  </div>

                  <div class="spree-checkbox-container mb-3" data-hook="stock_location_default">
                    <div class="spree-checkbox">
                      <input name="spree_vendor[stock_location][default]" type="hidden" value="0">
                      <input type="checkbox" value="1" name="spree_vendor[stock_location][default]"
                        id="spree_vendor_stock_location_default">
                      <label for="spree_vendor_stock_location_default">Default</label>
                      <%= f_stock.check_box :default, checked: params[:spree_vendor] && params[:spree_vendor][:stock_location] && params[:spree_vendor][:stock_location][:default] ? params[:spree_vendor][:stock_location][:default].to_i > 0 ? true : false : false %>
                      <%= f_stock.label :default, 'Default' %>
                    </div>
                    <%= f_stock.label :default, 'Default', class: 'spree-checkbox-label text-secondary w-100' %>
                    <!-- <label class="spree-checkbox-label text-secondary w-100" for="spree_vendor_stock_location_default">Default</label> -->
                  </div>

                  <div class="spree-checkbox-container mb-3" data-hook="stock_location_backorderable_default">
                    <div class="spree-checkbox">
                      <!-- <input name="spree_vendor[stock_location][backorderable_default]" type="hidden" value="0">
                      <input type="checkbox" value="1" name="spree_vendor[stock_location][backorderable_default]"
                        id="spree_vendor_stock_location_backorderable_default"> 
                      <label for="spree_vendor_stock_location_backorderable_default">Backorderable default</label>-->
                      <%= f_stock.check_box :backorderable_default, checked: params[:spree_vendor] && params[:spree_vendor][:stock_location] && params[:spree_vendor][:stock_location][:backorderable_default] ? params[:spree_vendor][:stock_location][:backorderable_default].to_i > 0 ? true : false : false %>
                      <%= f_stock.label :backorderable_default, 'Backorderable default' %>
                    </div>
                    <%= f_stock.label :backorderable_default, 'Backorderable default', class: 'spree-checkbox-label text-secondary w-100' %>
                    <!-- <label class="spree-checkbox-label text-secondary w-100" for="spree_vendor_stock_location_backorderable_default">Backorderable default</label> -->
                  </div>

                <% end %>
          <div>
            <input type="submit" name="commit" value="<%=I18n.t('storefront.buttons.request_vendor_account')%>"
              class="btn btn-primary btn-block spree-btn mt-2 mb-3"
              data-disable-with="<%=I18n.t('storefront.buttons.request_vendor_account')%>">
          </div>
        
        </div>
        <% end %>
        <div data-hook="login_extras"></div>
      </div>
    </div>
  </div>
</div>
