<% @body_id = 'signup' %>
<div class="container d-flex justify-content-center mb-5">
  <div class="col-md-6">
    <div class="panel panel-default">
      <h3 class="spree-mb-large spree-mt-large spree-header">
        <%= I18n.t('storefront.buttons.request_vendor_account') %>
      </h3>
      <div id="new-vendor" class="panel-body">
        <%= form_with model: [:spree, @vendor], scope: :spree_vendor, url: spree.vendors_path, method: :post, local: true, html: {multipart: true} do |f| %>

        <div data-hook="signup_inside_form">
          <div class="form-group">
            
            <div class="field" id="spree_vendor_name_field">
              <div class="form-group mb-4">
                <%= f.label 'Store Name*', class: "spree-flat-label" %>
                <%= f.text_field :name, required: false, placeholder: 'Vendor Name*', class: "form-control spree-flat-input #{error_class(@vendor, :name)}", value: params[:spree_vendor] && params[:spree_vendor][:name] ? params[:spree_vendor][:name] : '' %>
                <div class="error"><%= show_errors(@vendor, :name) %></div>
              </div>
            </div>

            <div class="form-group mb-5">
              <label class="spree-flat-label" for="spree_vendor_user_email">Email*</label>
              <input class="form-control spree-flat-input <%= error_class(@user, :email) %>" placeholder="Email" type="email" name="spree_vendor[user][email]"
                id="spree_vendor_user_email"
                value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:user) ? params[:spree_vendor][:user][:email] : '' %>">
              <div class="error"><%= show_errors(@user, :email) %></div>
            </div>

            <div class="form-group mb-4">
              <label class="spree-flat-label" for="spree_vendor_user_password">Password*</label>
              <input class="form-control spree-flat-input <%= error_class(@user, :password) %>" placeholder="Password" type="password" name="spree_vendor[user][password]"
                id="spree_vendor_user_password"
                value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:user) ? params[:spree_vendor][:user][:password] : '' %>">
              <div class="error"><%= show_errors(@user, :password) %></div>
            </div>

            <div class="form-group mb-5">
              <label class="spree-flat-label" for="spree_vendor_user_password_confirmation">Password Confirmation*</label>
              <input class="form-control spree-flat-input <%= error_class(@user, :password_confirmation) %>" placeholder="Password Confirmation" type="password"
                name="spree_vendor[user][password_confirmation]" id="spree_vendor_user_password_confirmation"
                value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:user) ? params[:spree_vendor][:user][:password_confirmation] : '' %>">
              <div class="error"><%= show_errors(@user, :password_confirmation) %></div>
            </div>

            <div>
              <%= f.button I18n.t('storefront.buttons.request_vendor_account').html_safe, type: :submit, class: 'btn btn-primary btn-block spree-btn mt-2 mb-3 d-flex justify-content-center', data: { disable_with: "<div class='d-flex align-items-center'><span class='spinner-border spinner-border-sm mr-2'></span>Signing Up...</div>" } %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= flash_messages %>
