<% @body_id = 'signup' %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @vendor } %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @stock_location } %>

<div class="container d-flex justify-content-center mb-5">
  <div class="col-md-6">
    <div class="panel panel-default">
      <h3 class="spree-mb-large spree-mt-large spree-header">
        <%=I18n.t('storefront.buttons.request_vendor_account')%>
      </h3>
      <div id="new-vendor" class="panel-body" data-hook="login">
        <%= form_with model: [:spree, @vendor], scope: :spree_vendor, url: spree.vendors_path, html: {multipart: true} do |f| %>

        <div data-hook="signup_inside_form">
          <div class="form-group">
            <h4 class="my-4">Contact Person Details</h4>

            <div class="form-group mb-4">
              <p class="form-group checkout-content-inner-field">
                <input class="form-control spree-flat-input" required="required" placeholder="Name*" type="text"
                  name="spree_vendor[contact_details_attributes][name]"
                  id="spree_vendor_contact_details_attributes_name" value=<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:contact_details_attributes) ?
                  params[:spree_vendor][:contact_details_attributes][:name] : '' %>>
              </p>
            </div>

            <div class="form-group mb-4">
              <p class="form-group checkout-content-inner-field">
                <input class="form-control spree-flat-input" required="required" placeholder="Surname*" type="text"
                  name="spree_vendor[contact_details_attributes][surname]"
                  id="spree_vendor_contact_details_attributes_surname" value=<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:contact_details_attributes) ?
                  params[:spree_vendor][:contact_details_attributes][:surname] : '' %>>
              </p>
            </div>

            <div class="form-group mb-4">
              <p class="form-group checkout-content-inner-field">
                <input class="form-control spree-flat-input" required="required" placeholder="Job Title*" type="text"
                  name="spree_vendor[contact_details_attributes][job_title]"
                  id="spree_vendor_contact_details_attributes_job_title" value=<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:contact_details_attributes) ?
                  params[:spree_vendor][:contact_details_attributes][:job_title] : '' %>>
              </p>
            </div>

            <div class="form-group mb-4">
              <p class="form-group checkout-content-inner-field">
                <input class="form-control spree-flat-input" required="required" placeholder="Email*" type="text"
                  name="spree_vendor[contact_details_attributes][email]"
                  id="spree_vendor_contact_details_attributes_email" value=<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:contact_details_attributes) ?
                  params[:spree_vendor][:contact_details_attributes][:email] : '' %>>
              </p>
            </div>

            <div class="form-group mb-4">
              <p class="form-group checkout-content-inner-field">
                <input class="form-control spree-flat-input" placeholder="Phone" type="tel"
                  name="spree_vendor[contact_details_attributes][phone]"
                  id="spree_vendor_contact_details_attributes_phone" value=<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:contact_details_attributes) ?
                  params[:spree_vendor][:contact_details_attributes][:phone] : '' %>>
              </p>
            </div>

            <div class="form-group mb-4">
              <p class="form-group checkout-content-inner-field">
                <input class="form-control spree-flat-input" placeholder="website" type="text"
                  name="spree_vendor[contact_details_attributes][website]"
                  id="spree_vendor_contact_details_attributes_website" value=<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:contact_details_attributes) ?
                  params[:spree_vendor][:contact_details_attributes][:website] : '' %>>
              </p>
            </div>

            <hr>

            <h4 class="my-4">Vendor Account Details</h4>

            <div class="field" id="spree_vendor_name_field">
              <div class="form-group mb-4">
                <p class="form-group checkout-content-inner-field">
                  <input class="form-control spree-flat-input" required="required" placeholder="Vendor Name*"
                    type="text" name="spree_vendor[name]" id="spree_vendor_name"
                    value=<%=params.include?(:spree_vendor) ? params[:spree_vendor][:name] : '' %>>
                </p>
              </div>
            </div>
            <div class="field" id="spree_vendor_about_us_field">
              <div class="form-group mb-4">
                <p class="form-group checkout-content-inner-field">
                  <textarea class="form-control spree-flat-input" required="required" placeholder="Description*"
                    name="spree_vendor[about_us]"
                    id="spree_vendor_about_us"><%=params.include?(:spree_vendor) ? params[:spree_vendor][:about_us] : '' %></textarea>
                </p>
              </div>
            </div>
            <div class="field" id="spree_vendor_image_field">
              <div class="form-group mb-4">
                <p class="form-group checkout-content-inner-field">
                  <label for="spree_vendor_image">Logo*</label>
                  <input required="false" type="file" name="spree_vendor[image]" id="spree_vendor_image"
                    value=<%=params.include?(:spree_vendor) ? params[:spree_vendor][:image] : '' %>>
                </p>
              </div>
            </div>
            <div class="field" id="spree_vendor_notification_email_field">
              <div class="form-group mb-4">
                <p class="form-group checkout-content-inner-field">
                  <input class="form-control spree-flat-input" required="required" placeholder="Email*" type="text"
                    name="spree_vendor[notification_email]" id="spree_vendor_notification_email"
                    value=<%=params.include?(:spree_vendor) ? params[:spree_vendor][:notification_email] : '' %>>
                </p>
              </div>
            </div>
            <hr>

            <h4 class="my-4">Stock Location</h4>

            <fieldset>
              <div>

                <div class="form-group" data-hook="stock_location_names">
                  <div class="mb-4" data-hook="stock_location_name">
                    <input class="form-control spree-flat-input" required="required" placeholder="Name*" type="text"
                      name="spree_vendor[stock_location][name]" id="spree_vendor_stock_location_name"
                      value=<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:name] : '' %>>
                  </div>
                </div>

                <div class="form-group" data-hook="stock_location_status">
                  <p class="spree-flat-label">Status</p>

                  <div class="spree-checkbox-container mb-3" data-hook="stock_location_active">
                    <div class="spree-checkbox">
                      <input name="spree_vendor[stock_location][active]" type="hidden" value="0">
                      <input type="checkbox" value="1" checked="checked" name="spree_vendor[stock_location][active]"
                        id="spree_vendor_stock_location_active">
                      <label for="spree_vendor_stock_location_active">Active</label>
                    </div>

                    <label class="spree-checkbox-label text-secondary w-100"
                      for="spree_vendor_stock_location_active">Active</label>
                  </div>

                  <div class="spree-checkbox-container mb-3" data-hook="stock_location_default">
                    <div class="spree-checkbox">
                      <input name="spree_vendor[stock_location][default]" type="hidden" value="0">
                      <input type="checkbox" value="1" name="spree_vendor[stock_location][default]"
                        id="spree_vendor_stock_location_default">
                      <label for="spree_vendor_stock_location_default">Default</label>
                    </div>

                    <label class="spree-checkbox-label text-secondary w-100"
                      for="spree_vendor_stock_location_default">Default</label>
                  </div>

                  <div class="spree-checkbox-container mb-3" data-hook="stock_location_backorderable_default">
                    <div class="spree-checkbox">
                      <input name="spree_vendor[stock_location][backorderable_default]" type="hidden" value="0">
                      <input type="checkbox" value="1" name="spree_vendor[stock_location][backorderable_default]"
                        id="spree_vendor_stock_location_backorderable_default">
                      <label for="spree_vendor_stock_location_backorderable_default">Backorderable default</label>
                    </div>

                    <label class="spree-checkbox-label text-secondary w-100"
                      for="spree_vendor_stock_location_backorderable_default">Backorderable default</label>
                  </div>

                  <div class="spree-checkbox-container mb-3" data-hook="stock_location_propagate_all_variants">
                    <div class="spree-checkbox">
                      <input name="spree_vendor[stock_location][propagate_all_variants]" type="hidden" value="0">
                      <input type="checkbox" value="1" name="spree_vendor[stock_location][propagate_all_variants]"
                        id="spree_vendor_stock_location_propagate_all_variants">
                      <label for="spree_vendor_stock_location_propagate_all_variants">Propagate all variants</label>
                    </div>

                    <label class="spree-checkbox-label text-secondary w-100"
                      for="spree_vendor_stock_location_propagate_all_variants">Propagate all variants</label>
                  </div>
                </div>

                <div class="form-group" data-hook="stock_location_address1">
                  <input class="form-control spree-flat-input" required="required" placeholder="Street Address*"
                    type="text" name="spree_vendor[stock_location][address1]" id="spree_vendor_stock_location_address1"
                    value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:address1] : '' %>">
                </div>

                <div class="form-group" data-hook="stock_location_city">
                  <input class="form-control spree-flat-input" required="required" placeholder="City*" type="text"
                    name="spree_vendor[stock_location][city]" id="spree_vendor_stock_location_city"
                    value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:city] : '' %>">
                </div>

                <div class="form-group" data-hook="stock_location_address2">
                  <input class="form-control spree-flat-input" placeholder="Street Address (cont'd)" type="text"
                    name="spree_vendor[stock_location][address2]" id="spree_vendor_stock_location_address2"
                    value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:address2] : '' %>">
                </div>

                <div class="form-group" data-hook="stock_location_zipcode">
                  <input class="form-control spree-flat-input" required="required" placeholder="Zip*" type="text"
                    name="spree_vendor[stock_location][zipcode]" id="spree_vendor_stock_location_zipcode"
                    value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:zipcode] : '' %>">
                </div>

                <div class="form-group" data-hook="stock_location_phone">
                  <input class="form-control spree-flat-input" placeholder="Phone" type="tel"
                    name="spree_vendor[stock_location][phone]" id="spree_vendor_stock_location_phone"
                    value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:phone] : '' %>">
                </div>

                <div class="form-group" data-hook="stock_location_country">
                  <label class="spree-flat-label" for="spree_vendor_stock_location_country_id">Country*</label>
                  <span id="country">

                    <select class="select2 spree-flat-select" required="required"
                      name="spree_vendor[stock_location][country_id]" id="spree_vendor_stock_location_country_id">
                      <option value=""></option>
                      <%#= options_for_select(@countries_array) #%>
                      <%= options_for_select(Spree::Country.all.map { |country| [country.name, country.id] },
                      params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:country_id] : ''
                      )%>
                    </select>
                  </span>
                </div>

                <div class="form-group" data-hook="stock_location_state">
                  <label class="spree-flat-label" for="spree_vendor_stock_location_state_id">State*</label>
                  <span id="state" class="region">
                    <input style="display: none;" disabled="disabled" class="state_name form-control" type="text"
                      name="spree_vendor[stock_location][state_name]" id="spree_vendor_stock_location_state_name">
                    <select class="select2 spree-flat-select" style="" required="required"
                      name="spree_vendor[stock_location][state_id]" id="spree_vendor_stock_location_state_id">
                      <option value=""></option>
                      <%#= options_for_select(@states_array) #%>
                      <%= options_for_select(Spree::State.all.map { |state| [state.name, state.id] },
                      params.include?(:spree_vendor) && params[:spree_vendor].include?(:stock_location) ? params[:spree_vendor][:stock_location][:state_id] : ''
                      ) %>
                    </select>
                  </span>
                </div>
              </div>
            </fieldset>
          </div>

          <hr>
          <h4 class="my-4">Account Details</h4>

          <div class="form-group mb-5">
            <input class="spree-flat-input" placeholder="Email" type="email" name="spree_vendor[user][email]"
              id="spree_vendor_user_email"
              value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:user) ? params[:spree_vendor][:user][:email] : '' %>">
          </div>

          <div class="form-group mb-4">
            <input class="spree-flat-input" placeholder="Password" type="password" name="spree_vendor[user][password]"
              id="spree_vendor_user_password"
              value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:user) ? params[:spree_vendor][:user][:password] : '' %>">
          </div>

          <div class="form-group mb-5">
            <input class="spree-flat-input" placeholder="Password Confirmation" type="password"
              name="spree_vendor[user][password_confirmation]" id="spree_vendor_user_password_confirmation"
              value="<%=params.include?(:spree_vendor) && params[:spree_vendor].include?(:user) ? params[:spree_vendor][:user][:password_confirmation] : '' %>">
          </div>
          <div data-hook="signup_below_password_fields"></div>

          <div>
            <input type="submit" name="commit" value="<%=I18n.t('storefront.buttons.request_vendor_account')%>"
              class="btn btn-primary btn-block spree-btn mt-2 mb-3"
              data-disable-with="<%=I18n.t('storefront.buttons.request_vendor_account')%>">
          </div>
        </div>
        <% end %>
        <div data-hook="login_extras"></div>
      </div>
    </div>
  </div>
</div>
